

## LINEAMIENTOS ESPECÍFICOS - PROYECTO TELMEX INVENTARIOS

### Flutter / UI

-Cada vez que hagas cambios en el front, asegurate que se modifiquen tanto la aplicacion de escritorio como la aplicacion movil sin que tenga problemas de diseño


## NOTAS ADICIONALES

- Trabajar como programador senior
- Proponer mejoras y soluciones
- Código limpio y mantenible
